<% layout('layout') %>

<div class="container">
        <img src="./images/mail_icon.svg" alt="">
        <h1>取消訂閱</h1>
        <div class="cancelInput">
            <input type="text" placeholder="IG帳號" id="cancelSubscriptionAccount">
            <br> 
            <button id="cancelSubscriptionButton">送出</button>
        </div>
</div>
