<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.3">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>訂閱尼桑</title>
    <link rel="stylesheet" href="/css/reset.css">
    <script src="/build/jquery.min.js"></script>
    <script src="/build/toastr.min.js"></script>
    <link rel="stylesheet" href="/css/toastr.min.css">
    <link rel="stylesheet" href="/css/<%=css%>.css">
  
</head>

<body>
    <%-body%>
</body>
<script src="https://www.gstatic.com/firebasejs/5.7.1/firebase.js"></script>

<script src="/build/<%=js%>.js"></script>

</html>